body
{
    background-image: url("fond_index.jpg");
    font-family: "Oswald", Arial, serif;
    margin: 0px 0px 0px 0px;
}

h1, h3
{
    text-align: center;
    padding: 0%;
    margin: 0.1%;
}

@font-face
{
    font-family: "Oswald";
    src: url("Oswald-Regular.ttf");
}

ul
{
    list-style: none;
}

a
{
    color: black;
}
@media all
{
    #corps
    {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
  }


  @media all and (max-width: 1024px)
  {
      #corps
      {
          display: flex;
          flex-wrap: nowrap;
          justify-content: left;
          flex-direction: column;
      }

  }
