body
{
    font-family: "Oswald", Arial, serif;
    margin: 0px 0px 0px 0px;
    background-color: rgb(194, 194, 194);
    background: radial-gradient(circle, lighten(rgb(194, 194, 194), 5) 0%, darken(rgb(194, 194, 194), 10) 50%);
}

h1, h3
{
    text-align: center;
    padding: 0%;
    margin: 0.1%;
}

@font-face
{
    font-family: "Oswald";
    src: url("Oswald-Regular.ttf");
}

ul
{
    list-style: none;
}

a
{
    color: black;
}

header
{
    background-color: #0099FF;
    text-align: center;
    width: 40%;
    padding: 0.1%;
    margin-left: 30%;
    border-radius: 1000px;
    margin-top: 0.5%;
    transform: scale(1);
    transition: transform 400ms ease-in-out, background-color 300ms 150ms;
    transform-origin: top;
    color: #000000
}

header:hover
{
    transform: scale(1.25);
    background-color: #0088FF;
    color: #FFFFFF;
}

@media all
{
    #corps
    {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        text-align: left;
    }
  }
