body
{
    background-image: url("fond_Millocheau.jpeg");
    font-family: "Oswald", Arial, serif;
    margin: 0px 0px 0px 0px;
    color: #DCDCDC;
}

h1, h3
{
    text-align: center;
    padding: 1%;
    margin: 0.1%;
    color: #DCDCDC;
}

a
{
    color: #DCDCDC;
    margin: 1%;
    padding: 1%;
    text-decoration: none;
}

ul
{
    list-style: none;
}

@font-face
{
    font-family: "Oswald";
    src: url("Oswald-Regular.ttf");
}

.flottant
{
    float: right;
    width: 10%;
    height: 10%;
}


.accueil
{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    color: #DCDCDC;
    width: 95%;
    height: 150%;
    margin: 0.1%;
}

a:hover
{
    color: yellow;
    font-style: italic;
    text-decoration: underline;
}

.Rire, .GS, .Classe
{
    width: 15%;
}
