body
{
    background-color: rgba(34,34,34,.85);
    color: white;
    margin: 0px;
    margin-top: 5px;
}

header
{
    display: flex;
    justify-content: center;
}

nav
{
    border: 1px white solid;
    border-radius: 5px;
    padding-left: 2%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 1.5%;
    box-shadow: 5px 5px 10px  black;
}

a
{
    color: white;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

footer
{
    display: block;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 15%;
    padding-right: 15%;
}

.image
{
    width: 100%;
    height: 100%;
    text-align: center;
}

#Corps
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#logo
{
    width: 50%;
    height: 50%;
    transition: transform 500ms ease-in-out;
    transform: scale(1);
}

#logo:hover
{
    transform: scale(1.25);
}

.explication
{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

.Onglet
{
    background-color: rgba(102,102,102,.8);
    justify-content: flex-start;
}

.Liens
{
    padding: 5%;
    justify-content: center;
}
