body
{
    background-color: rgba(34,34,34,.85);
    color: white;
    margin: 0px;
    margin-top: 5px;
}

header
{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px black solid;
    margin-left: 20%;
}

nav
{
    border: 1px white solid;
    border-radius: 5px;
    padding-left: 2%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 1.5%;
    margin-right: 5%;
    box-shadow: 5px 5px 10px  black;
    background-color: rgba(102,102,102,.8);
    justify-content: flex-start;
    text-align: left;
}

a
{
    color: white;
    text-decoration: none;
    text-align: left;
}

a:hover
{
    text-decoration: underline;
}

footer
{
    display: block;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 15%;
    padding-right: 15%;
}

hr
{
    width: 100%;
    size: 4;
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
}

h2
{
    text-align: center;
    font-size: 2em;
}

h3
{
    text-align: center;
    font-size: 0.75em;
}

.liste-type
{
    list-style: "> ";
}

#entete
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

#Corps
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center
}

#rubrique
{
    display: flex;
    justify-content: space-around;
}

#Journaux
{
    margin: 5%;
    display: flex;
    flex-direction: column;
}

#logo
{
    width: 50%;
    height: 50%;
    transition: transform 500ms ease-in-out;
    transform: scale(1);
}

#logo:hover
{
    transform: scale(1.25);
}

.image
{
    width: 100%;
    height: 100%;
    text-align: center;
}


.explication
{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

.Liens
{
    padding: 5%;
    justify-content: flex-start;
}

.Categorie
{
    border: 2px White solid;
    margin: 1%;
    padding: 2%;
    background-color: White;
    color: black
}

.Categorie:hover
{
    background-color: inherit;
    color: white;
}

.Article
{
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.ImageArticle
{
    padding: 5px;
}
