body
{
    background-color: rgba(34,34,34,.85);
    color: white;
    margin: 0px;
    margin-top: 5px;
}

header
{
    display: flex;
    justify-content: center;
}

nav
{
    border: 1px white solid;
    padding: 5%;
}

a
{
    color: white;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

footer + img
{

}

#Corps
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#logo
{
    width: 50%;
    height: 50%;
    transition: transform 500ms ease-in-out;
    transform: scale(1);
}

#logo:hover
{
    transform: scale(1.25);
}

.explication
{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

.Onglet
{
    background-color: rgba(102,102,102,.8);
    justify-content: flex-start;
}

.Liens
{
    padding: 5%;
    justify-content: center;
}
